html {
    font-size: 62.5%;
}

/* * {
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
} */

@font-face {
    font-family: 'Formula1'; 
    src: url('../fonts/Formula1-Regular.ttf') format('truetype');
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: Formula1;
    background-color: #666;
    color: #fff;

    background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");

    user-select: none;
    
    /* background: repeating-conic-gradient(#333 0% 25%, #292929 0% 50%) 50% / 20px 20px; */
    
}

header {
    grid-area: header;
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.6rem;
    z-index: 2;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.container {
    display: flex;

    align-items: center;
    width: 32rem;
    height: 6.4rem;
    border: .1rem solid transparent;
    margin: .8rem;
    background: repeating-linear-gradient(
        -55deg,
        #2d2d2d,
        #2d2d2d 10px,
        #333 10px,
        #333 20px
    );
    box-shadow: 0 0 .8rem #000;
    user-select: none;
    overflow: hidden;
    text-shadow: .2rem .2rem .2rem #000;
}

.container .number {
    font-size: 3.2rem;
    font-weight: bolder;
    font-style: italic;
    width: 6.4rem;
    text-align: center;
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.01rem; */
}


.container .content {
    font-size: 1.4rem;
    font-weight: 700;
    width: 19.2rem;
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6.4rem;
}



.container .content .name {
    margin-top: 2.2rem;
    margin-bottom: .6rem;
}

.container .content .options a {
    padding-right: 1.6rem;
    text-decoration: none;
    color: #fff;
}

.container .content .options a:hover {
    color: #f00 !important;
}

.container img {
    width: 6.4rem;
    height: 6.4rem;
    background-color: transparent;
    background-size: 6.4rem;
    
    user-select: none;
    border: none;
    filter: drop-shadow(0 0 .8rem #000);
}

dialog {
    margin: auto;
    width: 50rem;
    height: 50rem;
    border: 0.1rem solid #333;
    background-color: #fff;
    outline: none;
    position: absolute;
    user-select: none;
    padding: 0;
}

body > dialog::backdrop {
    backdrop-filter: blur(0.2rem);
    /* background-color: rgba(0,0,0,0.5); */
}

body > dialog > header > i {
    position: absolute;
    left: 1.6rem;
    cursor: pointer;
}

body > dialog > main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: calc(100% - 6rem);
    width: 100%;
    overflow-y: auto;
    position: relative;
    background-color: transparent;
}

body > dialog > main > p {
    margin: 1rem;
}

body > dialog > main > label {
    font-size: 1rem;
}